form input{
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    font-size: 15px;
  margin-top: 20px;
}
form input[type="submit"]{
    background: #750303;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: 0;
}