.banner{
    background:linear-gradient(#e0dfdf, #dfdfe0) ,url('https://secure.img1-fg.wfcdn.com/im/73889326/resize-h800-w800%5Ecompr-r85/4469/44691032/Reinheimer+Handwoven+Flatweave+Jute%2FSisal+Blue%2FNatural+Area+Rug.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    padding-top: 200px;
   width: 100%;
   /* padding-left: 250px; */
    color: rgb(158, 7, 7);
}
.banner h1{
    font-size: 60px;
}
.banner p{
    font-size: 20px;
color: rgb(143, 53, 8);
}