.banner{
    background:linear-gradient(#e0dfdf, #dfdfe0) ,url('https://whitecompany.scene7.com/is/image/whitecompany/Jute-Woven-Placemat/KAHJP_24_MAIN?$D_PDP_824x824$');
    background-size: cover;
    background-blend-mode: darken;
    height: 500px;
    padding-top: 200px;
   
   padding-left: 250px;
    color: rgb(255, 249, 249);
}
.banner h1{
    font-size: 60px;
}
.banner p{
    font-size: 20px;
color: rgb(184, 90, 28);
}